<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @slots.each do |slot| %>
  <tr>
    <td><%= slot.name %></td>
    <td><%= link_to 'Show', slot %></td>
    <td><%= link_to 'Edit', edit_slot_path(slot) %></td>
    <td><%= link_to 'Destroy', slot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Slot', new_slot_path %>
