%table#dataTable
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  %tbody
    - @slots.each do |slot|
      - cache slot do
        %tr{id: "slot_#{slot.id}"}
          %td= slot.name
          %td= link_to 'Show', slot, class: 'table-button'
          %td= link_to 'Edit', edit_slot_path(slot), class: 'table-button'
          %td= link_to 'Destroy', slot, :confirm => 'Are you sure?', :method => :delete, class: 'table-button'
%br/
= link_to 'New Slot', new_slot_path, class: 'button'
