%p#notice= notice
%p
  %strong Name:
  = @loot_type.name
%p
  %strong Show On Player List:
  = @loot_type.show_on_player_list? ? 'YES' : 'NO'
= link_to 'Edit', edit_loot_type_path(@loot_type)
|
\#{link_to 'Back', loot_types_path}
