= form_for(@instance) do |f|
  - if @instance.errors.any?
    #error_explanation
      %h2
        = pluralize(@instance.errors.count, "error")
        prohibited this instance from being saved:
      %ul
        - @instance.errors.full_messages.each do |msg|
          %li= msg
  .field
    %b Zone
    %br/
    = f.collection_select(:zone_id, Zone.all, :id, :name, :include_blank => true)
  .field
    = f.label :start_time
    %br/
    = f.datetime_select :start_time
  .field
    = f.label :end_time
    %br/
    = f.datetime_select :end_time
  .field
    %b Attendees
    %br/
    = f.collection_select :player_ids, Player.all(:order => 'name'), :id, :name, {}, :multiple => true
  .actions
    = f.submit
