%table
  %tr
    %th Zone
    %th Start time
    %th End time
    %th Raiders
    %th
    - if logged_in?
      %th
      %th
  - @instances.each do |instance|
    %tr
      - unless instance.zone.nil?
        %td= instance.zone.name
      - else
        %td Unknown
      %td= instance.start_time
      %td= instance.end_time
      %td= link_to 'Attendees', instance_players_path(instance)
      %td= link_to 'Show', instance
      - if logged_in?
        %td= link_to 'Edit', edit_instance_path(instance)
        %td= link_to 'Destroy', instance, :confirm => 'Are you sure?', :method => :delete
%br/
- if @paginate
  .digg_pagination
    = will_paginate @instances, :container => false
%br/
- if logged_in?
  = link_to 'New Instance', new_instance_path
