:javascript
  $(document).ready(function(){
      $('#dataTable').dataTable( {
        "aaSorting": [[1,'desc']]
      } );
  });
%table.dataTable{:id => "dataTable" }
  %thead
    %tr
      %th Zone
      %th Start time
      %th End time
      %th Raiders
      %th
      %th
      %th
  %tbody
    - @instances.each do |instance|
      %tr
        %td= instance.zone ? instance.zone.name : "Unknown"
        %td= instance.start_time
        %td= instance.end_time
        %td= link_to 'Attendees', instance_players_path(instance)
        %td= link_to 'Show', instance
        %td= link_to 'Edit', edit_instance_path(instance)
        %td= link_to 'Destroy', instance, :confirm => 'Are you sure?', :method => :delete
%br/
%br/
= link_to 'New Instance', new_instance_path
