- require 'active_support/time_with_zone'
:javascript
  $(document).ready(function(){
      $('#instancesTable').dataTable( {
        "sPaginationType":"full_numbers",
        "aaSorting": [[1,'desc']]
      } );
  });
%table#instancesTable
  %thead
    %tr
      %th Zone
      %th Start time
      %th End time
      %th Raiders
      %th Kills
      %th
      %th
      %th
  %tbody
    - @instances.each do |instance|
      %tr
        %td= instance.zone ? instance.zone.name : "Unknown"
        %td= instance.start_time.strftime('%H:%M:%S')
        %td= instance.end_time.strftime('%H:%M:%S')
        %td= link_to 'Attendees', instance_players_path(instance)
        %td= mob_names(instance)
        %td= link_to 'Show', instance
        %td= link_to 'Edit', edit_instance_path(instance)
        %td= link_to 'Destroy', instance, :confirm => 'Are you sure?', :method => :delete
%br/
%br/
= link_to 'New Instance', new_instance_path
