- require 'active_support/time_with_zone'
%table#instancesTable
  %thead
    %tr
      %th Zone
      %th Start time
      %th Players
      %th Characters
      %th Kills
      %th Drops
      %th
      %th
      %th
  %tbody
    - @instances.each do |instance|
      %tr{id: "instance_#{instance.id}"}
        %td= instance.zone_name
        %td= instance.start_time
        %td= instance.players.count
        %td= instance.characters.count
        %td= instance.kills.count
        %td= instance.drops.count
        %td= link_to 'Show', instance, remote: true, class: 'table-button'
        %td= link_to 'Edit', edit_instance_path(instance), remote: true, class: 'table-button'
        %td= link_to 'Destroy', instance, :confirm => 'Are you sure?', :method => :delete, remote: true, class: 'table-button'
%br/
= link_to 'New Instance', new_instance_path, class: 'button', remote: true
