#tabBook
  %ul
    %li= link_to "Details", "#details"
    %li= link_to "Players", "#players"
    %li= link_to "Characters", "#characters"
    %li= link_to "Kills", "#kills"
    %li= link_to "Drops", "#drops"

  #details
    %p
      %strong Zone:
      = @instance.zone.name
    %p
      %strong Start time:
      = @instance.start_time
    %p
      %strong End time:
      = @instance.end_time

  #players
    = render 'players'

  #characters
    = render 'characters'

  #kills
    = render 'mobs'

  #drops
    = render 'drops'

= link_to 'Edit', edit_instance_path(@instance)
|
= link_to 'Back', instances_path
