<p id="notice"><%= notice %></p>

<p>
  <b>Zone:</b>
  <%= @instance.zone.name %>
</p>

<p>
  <b>Start time:</b>
  <%= @instance.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @instance.end_time %>
</p>

<p>
  <b>Attendees</b>
<table>

  <tr>
    <td><b>Player</b></td>
    <td><b>Looted</b></td>
  </tr>
  <% @instance.players.each do |player| %>
      <tr>
        <td valign="top"><%= player.name %></td>
        <td>
          <table>
            <% @instance.drops.each do |drop| %>
                <% if drop.player_name == player.name %>
                    <tr>
                      <td><%= drop.item_name %></td>
                    </tr>
                <% end %>
            <% end %>
          </table>
        </td>
      </tr>
  <% end %>
</table>
</p>

<% if logged_in? %>
    <%= link_to 'Edit', edit_instance_path(@instance) %> |
<% end %>
<%= link_to 'Back', instances_path %>
