= nested_form_for @raid do |f|
  - if @raid.errors.any?
    #error_explanation
      %h2
        = pluralize(@raid.errors.count, "error")
        prohibited this raid from being saved:
      %ul
        - @raid.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :raid_date
    %br/
    = f.text_field :raid_date, :id => "datepicker"
    %br/
    %br/
    %strong Instances
    %br/
    - zones ||= Zone.order(:name)
    = f.fields_for :instances do |instance_form|
      = instance_form.collection_select(:zone_id, zones, :id, :name)
      = instance_form.datetime_select :start_time
      = instance_form.link_to_remove "Remove"
    = f.link_to_add "Add", :instances
  .actions
    = f.submit
