<%= form_for(@raid) do |f| %>
    <% if @raid.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@raid.errors.count, "error") %> prohibited this raid from being saved:</h2>

          <ul>
            <% @raid.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :raid_date %>
      <br/>
      <%= f.date_select :raid_date %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
