<h1>Listing raids</h1>

<table>
  <tr>
    <th>Raid date</th>
    <th>Instances</th>
    <th></th>
    <% if logged_in? %>
        <th></th>
        <th></th>
    <% end %>
  </tr>

  <% @raids.each do |raid| %>
      <tr>
        <td><%= raid.raid_date %></td>
        <td><%= link_to 'Instances', raid_instances_path(raid) %></td>
        <td><%= link_to 'Show', raid %></td>
        <% if logged_in? %>
            <td><%= link_to 'Edit', edit_raid_path(raid) %></td>
            <td><%= link_to 'Destroy', raid, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>

<div class="digg_pagination">
  <%= will_paginate @raids, :container => false %>
</div>

<br/>

<% if logged_in? %>
    <%= link_to 'New Raid', new_raid_path %>
<% end %>
