<h1>Listing raids</h1>

<table>
  <tr>
    <th>Zone</th>
    <th>Raid date</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @raids.each do |raid| %>
      <tr>
        <% if raid.zone %>
            <td><%= raid.zone.name %></td>
        <% else %>
            <td>Unknown</td>
        <% end %>
        <td><%= raid.raid_date %></td>
        <td><%= raid.start_time %></td>
        <td><%= raid.end_time %></td>
        <td><%= link_to 'Show', raid %></td>
        <td><%= link_to 'Edit', edit_raid_path(raid) %></td>
        <td><%= link_to 'Destroy', raid, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Raid', new_raid_path %>
