%table
  %tr
    %th Raid date
    %th Instances
    %th
    - if logged_in?
      %th
      %th
  - @raids.each do |raid|
    %tr
      %td= raid.raid_date
      %td= link_to 'Instances', raid_instances_path(raid)
      %td= link_to 'Show', raid
      - if logged_in?
        %td= link_to 'Edit', edit_raid_path(raid)
        %td= link_to 'Destroy', raid, :confirm => 'Are you sure?', :method => :delete
%br/
.digg_pagination
  = will_paginate @raids, :container => false
%br/
- if logged_in?
  = link_to 'New Raid', new_raid_path
