%table#raidsTable
  %thead
    %tr
      %th Raid date
      %th Instances
      %th Players
      %th Characters
      %th Kills
      %th Drops
      %th
      %th
      %th
  %tbody
    - @raids.each do |raid|
      - cache raid do
        %tr{id: "raid_#{raid.id}"}
          %td= raid.raid_date
          %td= raid.instances.count
          %td= raid.players.count
          %td= raid.characters.count
          %td= raid.kills.count
          %td= raid.drops.count
          %td= link_to 'Show', raid, remote: true, class: 'table-button'
          %td= link_to 'Edit', edit_raid_path(raid), remote: true, class: 'table-button'
          %td= link_to 'Destroy', raid, :confirm => 'Are you sure?', :method => :delete, remote: true, class: 'table-button'
%br/
= link_to 'New Raid', new_raid_path, remote: true, class: 'button'
