#tabBook
  %ul
    %li= link_to "Details", "#details"
    %li= link_to "Instances", "#instances"
    %li= link_to "Kills", "#kills"
    %li= link_to "Players", "#players"
    %li= link_to "Characters", "#characters"
    %li= link_to "Drops", "#drops"

  #details
    %p
      %strong Raid date:
      = @raid.raid_date

  #instances
    = render 'instances'

  #kills
    = render 'mobs'

  #players
    = render 'players'

  #characters
    = render 'characters'

  #drops
    = render 'drops'

= link_to 'Edit', edit_raid_path(@raid)
|
= link_to 'Back', raids_path
