<p id="notice"><%= notice %></p>

<p>
  <b>Raid date:</b>
  <%= @raid.raid_date %>
</p>

<p>
  <b>Instances</b>
<table>

  <tr>
    <td><b>Zone</b></td>
    <td><b>Start Time</b></td>
    <td><b>End Time</b></td>
  </tr>
  <% @raid.instances.each do |instance| %>
      <tr>
        <td valign="top"><%= instance.zone.name %></td>
        <td valign="top"><%= instance.start_time %></td>
        <td valign="top"><%= instance.end_time %></td>
      </tr>
  <% end %>
</table>
</p>

<% if logged_in? %>
    <%= link_to 'Edit', edit_raid_path(@raid) %> |
<% end %>
<%= link_to 'Back', raids_path %>