#comments_form.form
  .field
    = label_tag "#{@comment.commented_type}:", nil, class: 'header'
    %span.data
      = @comment.commented_name
  .field
    = label_tag 'Date:', nil, class: 'header'
    %span.data
      = @comment.comment_date
  .field
    = label_tag 'Comment:', nil, class: 'header'
    %span.data
      = @comment.comment
