<%= form_for(@drop) do |f| %>
  <% if @drop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drop.errors.count, "error") %> prohibited this drop from being saved:</h2>

      <ul>
      <% @drop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- TODO: Update to use combo boxes -->
  <div class="field">
    <%= f.label :zone_name %><br />
    <%= f.text_field :zone_name %>
  </div>
  <div class="field">
    <%= f.label :mob_name %><br />
    <%= f.text_field :mob_name %>
  </div>
  <div class="field">
    <%= f.label :player_name %><br />
    <%= f.text_field :player_name %>
  </div>
  <div class="field">
    <%= f.label :item_name %><br />
    <%= f.text_field :item_name %>
  </div>
  <div class="field">
    <%= f.label :eq2_item_id %><br />
    <%= f.text_field :eq2_item_id %>
  </div>
  <div class="field">
    <%= f.label :drop_time %><br />
    <%= f.datetime_select :drop_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
