= form_for(@drop) do |f|
  - if @drop.errors.any?
    #error_explanation
      %h2
        = pluralize(@drop.errors.count, "error")
        prohibited this drop from being saved:
      %ul
        - @drop.errors.full_messages.each do |msg|
          %li= msg

  .field
    %strong= f.label 'Raid'
    %br/
    - raid_select(@drop)
  .field#instance_field
    %strong= f.label :instance
    - raid_id = @drop.instance ? @drop.instance.raid_id : nil
    = f.collection_select(:instance_id, Instance.by_raid(raid_id).order(:start_time), :id, :start_time, :id => "drop_instance_id", :include_blank => 'Select Instance')
  .field#zone_field
    %strong= f.label :zone
    %br/
    = f.collection_select(:zone_id, Zone.order(:name), :id, :name, :include_blank => 'Select Zone')
  .field#mob_field
    %strong= f.label :mob
    %br/
    = f.collection_select(:mob_id, Mob.by_zone(@drop.zone_id).order(:name), :id, :name, :include_blank => 'Select Mob', :id => "drop_mob_id")
  .field
    %strong= f.label :loot_type
    %br/
    = f.collection_select(:loot_type_id, LootType.order(:name), :id, :name, :include_blank => 'Select Loot Type')
  .field
    %strong= f.label :item
    %br/
    = f.collection_select(:item_id, Item.order(:name), :id, :name, :include_blank => 'Select Item')
  .field
    %strong= f.label :drop_time
    %br/
    = f.datetime_select :drop_time
  .field
    %strong= f.label :character
    %br/
    = f.collection_select(:character_id, Character.order(:name), :id, :name, :include_blank => 'Select Character')
  .field
    %strong= f.label :loot_method
    %br/
    = loot_method_select f, :loot_method
  .field
    %strong= f.label :log_line
    %br/
    = f.text_field :log_line, readonly:true
  .field
    %strong= f.label :chat
    %br/
    = f.text_area :chat
  .actions
    = f.submit
