:javascript
  $(document).ready(function(){
      $('#dropsTable').dataTable( {
        "sPaginationType":"full_numbers",
        "aaSorting": [[4,'desc']]
      } );
  });
%table#dropsTable
  %thead
    %tr
      %th Zone name
      %th Mob name
      %th Character name
      %th Item name
      %th Drop time
      %th Assigned?
      %th
      %th
      %th
      %th
  %tbody
    - @drops.each do |drop|
      %tr
        %td
          = drop.zone_name
        %td= drop.mob_name
        %td= drop.character_name
        %td
          - if drop.info_url
            %a{:href => drop.info_url}= drop.item_name
          - else
            = drop.item_name
        %td= drop.drop_time
        - if drop.assigned_to_character?
          %td Yes
          %td= link_to 'Un-Assign', unassign_loot_drop_path(drop), :confirm => 'Are you sure?'
        - else
          %td No
          %td= link_to 'Assign', assign_loot_drop_path(drop), :confirm => 'Are you sure?'
        %td= link_to 'Show', drop
        %td= link_to 'Edit', edit_drop_path(drop)
        %td= link_to 'Destroy', drop, :confirm => 'Are you sure?', :method => :delete
%br/
%br/
= link_to 'New Drop', new_drop_path