<h1>Listing drops</h1>

<table>
  <tr>
    <th>Zone name</th>
    <th>Mob name</th>
    <th>Player name</th>
    <th>Item name</th>
    <th>Eq2 item</th>
    <th>Drop time</th>
    <th>Assigned?</th>
    <% if logged_in? %>
        <th></th>
        <th></th>
        <th></th>
    <% end %>
    <th></th>
  </tr>

  <% @drops.each do |drop| %>
      <tr>
        <td>
          <%= drop.zone_name %></td>
        <td><%= drop.mob_name %></td>
        <td><%= drop.player_name %></td>
        <td>
          <% if drop.info_url %>
              <a href="<%= drop.info_url %>"><%= drop.item_name %></a>
          <% else %>
              <%= drop.item_name %>
          <% end %>
        </td>
        <td><%= drop.eq2_item_id %></td>
        <td><%= drop.drop_time %></td>
        <% if logged_in? %>
            <% if drop.assigned_to_player %>
                <td>Yes</td>
                <td><%= link_to 'Un-Assign', unassign_loot_drop_path(drop), :confirm => 'Are you sure?' %></td>
                <td><%= link_to 'Show', drop %></td>
                <td></td>
                <td></td>
            <% else %>
                <td>No</td>
                <td><%= link_to 'Assign', assign_loot_drop_path(drop), :confirm => 'Are you sure?' %></td>
                <td><%= link_to 'Show', drop %></td>
                <td><%= link_to 'Edit', edit_drop_path(drop) %></td>
                <td><%= link_to 'Destroy', drop, :confirm => 'Are you sure?', :method => :delete %></td>
            <% end %>
        <% else %>
            <% if drop.assigned_to_player %>
                <td>Yes</td>
            <% else %>
                <td>No</td>
            <% end %>
            <td><%= link_to 'Show', drop %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>

<% if logged_in? %>
    <%= link_to 'New Drop', new_drop_path %>
<% end %>