%table#invalidDropsTable
  %thead
    %tr
      %th Character
      %th Class
      %th Item Name
      %th Item Classes
      %th Item Type
      %th Loot Method
      %th Drop Time
      %th Invalid Reason
      %th
      %th
      %th
  %tbody
    - @drops.each do |drop|
      - unless drop.correctly_assigned?
        %tr
          - item = drop.item
          %th= drop.character ? drop.character.name : "Unknown"
          %th= drop.character and drop.character.archetype ? drop.character.archetype.name : "Unknown"
          - if item
            %th= link_to item.name, item, {:class => "itemPopupTrigger", :id => item.id}
            %th= consolidate_archetypes(item.archetypes)
            %th= item.loot_type ? item.loot_type.name : "Unknown"
          - else
            %th Unknown
            %th Unknown
            %th Unknown
          %th= drop.loot_method_name
          %th= drop.drop_time
          %th= drop.invalid_reason
          %th= link_to 'Edit Drop', edit_drop_path(drop)
          %th= link_to 'Edit Item', edit_item_path(item)
          %th= link_to 'Reassign Item', edit_drop_path(drop)