%table#invalidDropsTable
  %thead
    %tr
      %th Character
      %th Class
      %th Drop Type
      %th Item Type
      %th Item Name
      %th Item Classes
      %th Loot Method
      %th Drop Time
      %th Invalid Reason
      %th
      %th
  %tbody
    - @drops.each do |drop|
      %tr{:id => "drop_#{drop.id}", :class => "item_#{drop.item.id}", "data-drop_id" => drop.id}
        - item = drop.item
        %td= drop.character ? drop.character_name : "Unknown"
        %td= drop.character and drop.character.archetype ? drop.character.archetype.name : "Unknown"
        %td= drop.loot_type ? drop.loot_type_name : "Unknown"
        - if item
          %td= item.loot_type ? item.loot_type.name : "Unknown"
          %td= link_to item.name, item, {:class => "itemPopupTrigger", :id => item.id}
          %td= consolidate_archetypes(item.archetypes)
        - else
          %td Unknown
          %td Unknown
          %td Unknown
        %td= drop.loot_method_name
        %td= drop.drop_time
        %td= drop.invalid_reason
        %td= link_to 'Edit Drop', edit_drop_path(drop), :remote => true, class: 'table-button'
        %td= link_to 'Edit Item', edit_item_path(item, :params => {:drop_id => drop.id}), :remote => true, class: 'table-button'
