%p#notice= notice
%p
  %strong Zone name:
  = @drop.zone_name
%p
  %strong Mob name:
  = @drop.mob_name
%p
  %strong Player name:
  = @drop.player_name
%p
  %strong Item name:
  = @drop.item_name
%p
  %strong Eq2 item:
  = @drop.eq2_item_id
%p
  %strong Info URL:
  = @drop.info_url
%p
  %strong Drop time:
  = @drop.drop_time
%p
  %strong Assigned:
  = @drop.assigned_to_player ? "Assigned" : "Unassigned"

- if logged_in?
  = link_to 'Edit', edit_drop_path(@drop)
  |
= link_to 'Back', drops_path
