%h2 Welcome to the Admin page

%p
  Here you can perform a number of administrative functions and configure the loot system to your liking.

#top_left
  = link_to "Download All Guild Players", admin_update_player_list_path, :method => :post
  %br/
  = link_to "Download All Guild Characters", admin_update_character_list_path, :method => :post
  %br/
  = link_to "Update All Character Details", fetch_all_data_characters_path, :method => :post

#top_right
  %br/
  = link_to "Update All Item Details", fetch_all_data_items_path, :method => :post
  %br/
  = link_to "Clean Up Duplicate Items", admin_resolve_duplicate_items_path, :method => :post

#bottom_right
  = link_to "Fix Trash Drops", admin_fix_trash_drops_path, :method => :post
