:javascript
  $(document).ready(function(){
      $('#mobDropsTable').dataTable( {
  	    "bJQueryUI": true,
        "sPaginationType":"full_numbers",
        "aaSorting": [[2,'asc']]
      } );
  });
%table#mobDropsTable
  %thead
    %tr
      %th Item Name
      %th Loot Type
      %th Drop Time
      %th Character Name
      %th Loot Method
  %tbody
    - @mob.drops.each do |drop|
      %tr
        %td= link_to drop.item ? drop.item.name : "Unknown", drop
        %td= drop.loot_type ? drop.loot_type.name : "Unknown"
        %td= drop.drop_time
        %td= drop.character ? drop.character.name : "Unknown"
        %td= case drop.loot_method when "n" then "Need" when "r" then "Random" when "b" then "Bid" when "t" then "Trash" else "Unknown" end
