= form_for(@mob) do |f|
  - if @mob.errors.any?
    #error_explanation
      %h2
        = pluralize(@mob.errors.count, "error")
        prohibited this mob from being saved:
      %ul
        - @mob.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :alias
    %br/
    = f.text_field :alias
  .field
    = f.label :strategy
    %br/
    = f.text_area :strategy
  .field
    %strong Zone
    %br/
    = f.collection_select(:zone_id, Zone.all, :id, :name, :include_blank => true)
  .field
    %strong Difficulty
    %br/
    = f.collection_select(:difficulty_id, Difficulty.all, :id, :name, :include_blank => true)
  .actions
    = f.submit
