<%= form_for(@mob) do |f| %>
    <% if @mob.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@mob.errors.count, "error") %> prohibited this mob from being saved:</h2>

          <ul>
            <% @mob.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :strategy %>
      <br/>
      <%= f.text_area :strategy %>
    </div>
    <div class="field">
      <b>Zone</b>
      <br/>
      <%= f.collection_select :zone_ids, Zone.all(:order => 'name'), :id, :name, {}, :multiple => true %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
