:javascript
  $(document).ready(function() {
  	$('#mobItemsTable').dataTable( {
  	    "bJQueryUI": true,
   		"sPaginationType": "full_numbers",
  		"aoColumns": [
  		    /* Name */ { "bSearchable": false,
       		              "bVisible":    true },
  			/* Loot Type */  null,
  			/* Slots */   null,
  			/* Classes */ null,
  		    /* Name Search */ { "bSearchable": true,
       		             "bVisible":    false }
  		],
        "aaSorting": [[0,'asc']]
  		} );
  } );
%table#mobItemsTable
  %thead
    %tr
      %th Name
      %th Loot Type
      %th Slot(s)
      %th Class(es)
      %th Name (for searching)
  %tbody
    - @mob.items.each do |item|
      %tr
        %td.itemPopupTrigger{:id => item.id}= link_to item.name, item
        %td= item.loot_type ? item.loot_type.name : "Unknown"
        %td= item.slot_names
        %td= item.class_names
        %td= item.name