<table>
  <tr>
    <th>Zone</th>
    <th>Name</th>
    <th>Strategy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @mobs.each do |mob| %>
      <tr>
        <td valign="top">
          <% mob.zones.each do |zone| %>
              <%= zone.name %>
              <br/>
          <% end %>
        </td>
        <td valign="top"><%= mob.name %></td>
        <td width="40%"><%= mob.strategy %></td>
        <td valign="bottom"><%= link_to 'Show', mob %></td>
        <td valign="bottom"><%= link_to 'Edit', edit_mob_path(mob) %></td>
        <td valign="bottom"><%= link_to 'Destroy', mob, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Mob', new_mob_path %>
