%table#mobsTable
  %thead
    %tr
      %th Name
      %th Alias
      %th Zone
      %th Difficulty
      %th Kills
      %th First Killed
      %th Last Killed
      %th Progression
      %th
      %th
      %th
  %tbody
    - @mobs.each do |mob|
      - cache mob do
        %tr
          %td= mob.name
          %td= mob.alias
          %td= mob.zone_name
          %td= mob.difficulty_name
          %td= mob.kills
          %td= mob.first_killed
          %td= mob.last_killed
          %td= mob.is_progression?
          %td= link_to 'Show', mob, class: 'table-button'
          %td= link_to 'Edit', edit_mob_path(mob), class: 'table-button'
          %td= link_to 'Destroy', mob, :confirm => 'Are you sure?', :method => :delete, class: 'table-button'
%br/
= link_to 'New Mob', new_mob_path, class: 'button'
