%p
  %strong Zone:
  = @mob.zone ? @mob.zone.name :  "Unknown"
%p
  %strong Name:
  = @mob.name
%p
  %strong Name:
  = @mob.alias
%p
  %strong Strategy:
  = @mob.strategy
%p
  %strong Progression:
  = @mob.progression ? "Yes" : "No"

= link_to 'Edit', edit_mob_path(@mob)
|
\#{link_to 'Back', mobs_path}
