<p id="notice"><%= notice %></p>

<p>
  <b>Zones:</b>
  <table>
    <% @mob.zones.each do |zone| %>
        <tr><td><%= zone.name %></td></tr>
    <% end %>
  </table>
</p>
<p>
  <b>Name:</b>
  <%= @mob.name %>
</p>

<p>
  <b>Strategy:</b>
  <%= @mob.strategy %>
</p>


<%= link_to 'Edit', edit_mob_path(@mob) %> |
<%= link_to 'Back', mobs_path %>
