%p#notice= notice
%p
  %b Zones:
  %table
    - @mob.zones.each do |zone|
      %tr
        %td= zone.name
%p
  %b Name:
  = @mob.name
%p
  %b Strategy:
  = @mob.strategy
= link_to 'Edit', edit_mob_path(@mob)
|
\#{link_to 'Back', mobs_path}
