%p#notice= notice
%p
  %b Zone:
  = @mob.zone ? @mob.zone.name :  "Unknown"
%p
  %b Name:
  = @mob.name
%p
  %b Name:
  = @mob.alias
%p
  %b Strategy:
  = @mob.strategy
= link_to 'Edit', edit_mob_path(@mob)
|
\#{link_to 'Back', mobs_path}
