<h1>Listing Player Classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Parent Class</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @archetypes.each do |archetype| %>
  <tr>
    <td><%= archetype.name %></td>
    <td>
      <%= archetype.parent.name unless archetype.parent.nil? %>
    </td>
    <td><%= link_to 'Show', archetype %></td>
    <td><%= link_to 'Edit', edit_archetype_path(archetype) %></td>
    <td><%= link_to 'Destroy', archetype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Class', new_archetype_path %>
