%table#dataTable
  %thead
    %tr
      %th Name
      %th Parent Class
      %th Base Class
      %th
      %th
      %th
  %tbody
    - @archetypes.each do |archetype|
      - cache archetype do
        %tr{id: "archetype_#{archetype.id}"}
          %td= archetype.name
          %td= archetype.parent_name
          %td= archetype.root_name
          %td= link_to 'Show', archetype, remote: true, class: 'table-button'
          %td= link_to 'Edit', edit_archetype_path(archetype), remote: true, class: 'table-button'
          %td= link_to 'Destroy', archetype, :confirm => 'Are you sure?', :method => :delete, remote: true, class: 'table-button'
%br/
%br/
= link_to 'New Class', new_archetype_path, remote: true, class: 'button'
