%p#raid_type_name
  %b Name:
  = @raid_type.name
%p#raid_counted
  %b Raid counted:
  = @raid_type.raid_counted
%p#raid_points
  %b Raid points:
  = @raid_type.raid_points
%p#loot_counted
  %b Loot counted:
  = @raid_type.loot_counted
%p#loot_cost
  %b Loot cost:
  = @raid_type.loot_cost

= link_to 'Edit', edit_raid_type_path(@raid_type), class: 'button'
\|
= link_to 'Back', raid_types_path, class: 'button'
