= form_for(@rank) do |f|
  - if @rank.errors.any?
    #error_explanation
      %h2
        = pluralize(@rank.errors.count, "error")
        prohibited this rank from being saved:
      %ul
        - @rank.errors.full_messages.each do |msg|
          %li= msg

  .form#ranks_form
    .field
      = label_tag 'Name:', nil, class: 'header'
      %span.data
        = f.text_field :name, class: 'text data'
    .field
      = label_tag 'Priority:', nil, class: 'header'
      %span.data
        = f.number_field :priority, class: 'numeric data'
    .actions
      = f.submit
