:javascript
  $(document).ready(function(){
      $('#dataTable').dataTable();
  });
%table.dataTable{:id => "dataTable" }
  %thead
    %tr
      %th Name
      %th Priority
      %th
      %th
      %th
  %tbody
    - @ranks.each do |rank|
      %tr
        %td= rank.name
        %td= rank.priority
        %td= link_to 'Show', rank
        %td= link_to 'Edit', edit_rank_path(rank)
        %td= link_to 'Destroy', rank, :confirm => 'Are you sure?', :method => :delete
%br/
%br/
= link_to 'New Rank', new_rank_path
