<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rank.name %>
</p>

<p>
  <b>Priority:</b>
  <%= @rank.priority %>
</p>


<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
