%table#dataTable
  %thead
    %tr
      %th Name
      %th Title
      %th Nav Label
      %th Body
      %th Position
      %th Admin?
      %th Parent
      %th Redirection
      %th
      %th
      %th
  %tbody
    - @pages.each do |page|
      %tr{id: "page_#{page.id}"}
        %td= page.name
        %td= page.title
        %td= page.navlabel
        %td= page.body
        %td= page.position
        %td= page.is_admin?
        %td= page.parent_navlabel
        %td= page.redirection
        %td= link_to 'Show', page, class: 'table-button'
        %td= link_to 'Edit', edit_page_path(page), class: 'table-button'
        %td= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete, class: 'table-button'
%br/
= link_to 'New Page', new_page_path, class: 'button'
