#player_characters_form.form
  = form_for @player_character.player do |p|
    .field
      = label_tag 'Player:', nil, class: 'header'
      %span.data
        = @player_character.player.name
    .field
      = label_tag 'Character:', nil, class: 'header'
      %span.data
        = @player_character.character.name
    .field
      = label_tag 'Active:', nil, class: 'header'
      %span.data
        = p.check_box :active
    .field
      = label_tag 'Raids:', nil, class: 'header'
      %span.data
        = p.number_field :raids_count, class: 'numeric'
    .field
      = label_tag 'Switches:', nil, class: 'header'
      %span.data
        = p.number_field :switches_count, class: 'numeric'

  = form_for @player_character.character do |c|
    .field
      = label_tag 'Confirmed Rating:', nil, class: 'header'
      %span.data
        = confirmed_rating_select(c, :confirmed_rating)
    .field
      = label_tag 'Confirmed Date:', nil, class: 'header'
      %span.data
        = c.text_field :confirmed_date, class: 'datepicker'
    .field
      = label_tag 'Armour:', nil, class: 'header'
      %span.data
        = c.number_field :armour_count, class: 'numeric'
    .field
      = label_tag 'Jewellery:', nil, class: 'header'
      %span.data
        = c.number_field :jewellery_count, class: 'numeric'
    .field
      = label_tag 'Weapons:', nil, class: 'header'
      %span.data
        = c.number_field :weapons_count, class: 'numeric'
    .field
      = label_tag 'Adornments:', nil, class: 'header'
      %span.data
        = c.number_field :adornments_count, class: 'numeric'
    .field
      = label_tag 'Dislodgers:', nil, class: 'header'
      %span.data
        = c.number_field :dislodgers_count, class: 'numeric'
    .field
      = label_tag 'Mounts:', nil, class: 'header'
      %span.data
        = c.number_field :mounts_count, class: 'numeric'
