<%= form_for(@link_category) do |f| %>
  <% if @link_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link_category.errors.count, "error") %> prohibited this link_category from being saved:</h2>

      <ul>
      <% @link_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
