<h1>Listing link_categories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @link_categories.each do |link_category| %>
  <tr>
    <td><%= link_category.title %></td>
    <td><%= link_category.description %></td>
    <td><%= link_to 'Show', link_category %></td>
    <td><%= link_to 'Edit', edit_link_category_path(link_category) %></td>
    <td><%= link_to 'Destroy', link_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Link category', new_link_category_path %>
