<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @link_category.title %>
</p>

<p>
  <b>Description:</b>
  <%= @link_category.description %>
</p>


<%= link_to 'Edit', edit_link_category_path(@link_category) %> |
<%= link_to 'Back', link_categories_path %>
