%table#dataTable
  %thead
    %tr
      %th Url
      %th Title
      %th Description
      %th
      %th
      %th
  %tbody
    - @links.each do |link|
      %tr
        %td= link.url
        %td= link.title
        %td= link.description
        %td= link_to 'Show', link, class: 'table-button'
        %td= link_to 'Edit', edit_link_path(link), class: 'table-button'
        %td= link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete, class: 'table-button'
%br/
= link_to 'New Link', new_link_path, class: 'button'