%table#characterAdjustmentsTable
  %thead
    %tr
      %th Adjustment date
      %th Adjustment type
      %th Amount
      %th Reason
  %tbody
    - @adjustment_list.each do |adjustment|
      %tr
        %td= adjustment.adjustment_date
        %td= adjustment.adjustment_type
        %td= adjustment.amount
        %td= adjustment.reason.blank? ? "Unspecified" : adjustment.reason

%br/
%br/
= link_to 'Add Adjustment', new_adjustment_path, {:character_id => @character.id, :adjustable => 'Character'}