:javascript
  $(document).ready(function(){
      $('#characterTypesTable').dataTable( {
  	    "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "sType": "date",
        "aaSorting": [[1,'desc']]
      } );
  });
%table#characterTypesTable
  %thead
    %tr
      %th Character
      %th Date Effective
      %th Rank
      %th Normal Wait
      %th Progression Wait
  %tbody
    - @character_types.each do |character_type|
      %tr
        %td= character_type.character.name
        %td= character_type.effective_date
        %td= case character_type.char_type when "m" then "Main" when "r" then "Raid Alternate" else "General Alternate" end
        %td= character_type.normal_penalty
        %td= character_type.progression_penalty
%br/