:javascript
  $(document).ready(function(){
      $('#dropsTable').dataTable( {
        "sPaginationType": "full_numbers",
        "aaSorting": [[4,'desc']]
      } );
  });
%table.dropsTable{:id => "dropsTable" }
  %thead
    %tr
      %th Zone Name
      %th Mob Name
      %th Item Name
      %th Loot Type
      %th Drop Time
      %th Loot Method
  %tbody
    - @character.drops.each do |drop|
      - cache drop do
        %tr
          %td= drop.zone ? drop.zone.name : "Unknown"
          %td= drop.mob ? drop.mob.name : "Unknown"
          %td= drop.item ? drop.item.name : "Unknown"
          %td= drop.loot_type ? drop.loot_type.name : "Unknown"
          %td= drop.drop_time
          %td= case drop.loot_method when "n" then "Need" when "r" then "Random" when "b" then "Bid" when "t" then "Trash" else "Unknown" end
%br/