= form_for @character do |f|
  -if @character.errors.any?
    #error_explanation
      %h2= "#{pluralize(@character.errors.count, "error")} prohibited this character from being saved:"
      %ul
        - @character.errors.full_messages.each do |msg|
          %li= msg

  .field
    %strong Player:
    = f.collection_select(:player_id, Player.order(:name), :id, :name, :include_blank => true, :name => "Player")
  .field
    %strong Name:
    = f.text_field :name
  .field
    %strong Class:
    = f.collection_select(:archetype_id, Archetype.base_archetypes, :id, :name, :include_blank => true)
  .field
    %strong Character Type:
    = char_type_select(f, :char_type)
  .field
    %strong Armour:
    = f.number_field :armour_count
  .field
    %strong Weapons:
    = f.number_field :weapons_count
  .field
    %strong Jewellery:
    = f.number_field :jewellery_count
  .field
    %strong Adornments:
    = f.number_field :adornments_count
  .field
    %strong Dislodgers:
    = f.number_field :dislodgers_count
  .field
    %strong Mounts:
    = f.number_field :mounts_count, class: 'numeric'
  .actions
    = f.submit 'Create', :id => 'btnCreate'
