%table{:id => "charactersTable_#{@char_type}"}
  %thead
    %tr
      %th Name
      %th Main
      %th Class
      %th Base Class
      %th First Raid
      %th Last Raid
      %th # Raids
      %th # Instances
      %th Armour Rate
      %th Jewellery Rate
      %th Weapon Rate
      %th
      %th
  %tbody
    - @characters.each do |character|
      - cache character do
        - if character.char_type.eql? @char_type or @char_type.eql? "all"
          %tr
            %td{:id => "character_#{character.id}"}= link_to character.name, character_path(character), :remote => true
            - if character.main_character
              %td{:id => "character_#{character.main_character.id}"}= link_to character.main_character.name, character_path(character.main_character), :remote => true
            - else
              %td Unknown
            %td= character.archetype ? character.archetype.name : "Unknown"
            %td= character.archetype ? character.archetype.root.name : "Unknown"
            %td= character.first_raid ? character.first_raid.raid_date : "Never"
            %td= character.last_raid ? character.last_raid.raid_date : "Never"
            %td{:align => "right"}= character.raids_count
            %td{:align => "right"}= character.instances_count
            %td{:align => "right"}= character.armour_rate
            %td{:align => "right"}= character.jewellery_rate
            %td{:align => "right"}= character.weapon_rate
            %td= link_to 'Update', fetch_data_character_path(character), :confirm => 'Are you sure?', class: 'table-button'
            %td= link_to 'Destroy', character, :confirm => 'Are you sure?', :method => :delete, class: 'table-button'
