%table{:id => "charactersTable_#{@char_type}"}
  %thead
    %tr
      %th Name
      %th Main
      %th Class
      %th Base Class
      %th First Raid
      %th Last Raid
      %th Armour Rate
      %th Jewellery Rate
      %th Weapon Rate
      %th
      %th
      %th
  %tbody
    - @characters.each do |character|
      - if character.char_type.eql? @char_type or @char_type.eql? 'all'
        %tr{id: "character_#{character.id}_#{@char_type}", data: attendance_stats(character)}
          - cache character do
            %td{id: character.html_id}= character.path(remote: true)
            %td{id: character.main_character.html_id}= character.main_character.path(remote: true)
            %td= character.archetype_name
            %td= character.archetype_root
            %td= character.first_raid_date
            %td= character.last_raid_date
            %td{:id => character.id}= number_with_precision(character.armour_rate, precision: 2)
            %td{:id => character.id}= number_with_precision(character.jewellery_rate, precision: 2)
            %td{:id => character.id}= number_with_precision(character.weapon_rate, precision: 2)
            %td= link_to 'Edit', edit_character_path(character), remote: true, class: 'table-button'
            %td= link_to 'Update', fetch_data_character_path(character), :confirm => 'Are you sure?', class: 'table-button'
            %td= link_to 'Destroy', character, :confirm => 'Are you sure?', :method => :delete, remote: true, class: 'table-button'