.button-set
  = show_hide_button 'Player', '0', "charactersLootTable_#{@char_type}", true
  = show_hide_button 'Active', '1', "charactersLootTable_#{@char_type}", false
  = show_hide_button 'Character', '2', "charactersLootTable_#{@char_type}", true
  = show_hide_button 'Confirmed', '3', "charactersLootTable_#{@char_type}", false
  = show_hide_button 'Class', '4', "charactersLootTable_#{@char_type}", true
  = show_hide_button 'Base Class', '5', "charactersLootTable_#{@char_type}", false
  = show_hide_button 'Armour', '6', "charactersLootTable_#{@char_type}", true
  = show_hide_button 'Jewellery', '7', "charactersLootTable_#{@char_type}", true
  = show_hide_button 'Weapons', '8', "charactersLootTable_#{@char_type}", true
  = show_hide_button 'Average', '9', "charactersLootTable_#{@char_type}", true
  = show_hide_button 'Adornments', '10', "charactersLootTable_#{@char_type}", false
  = show_hide_button 'Dislodgers', '11', "charactersLootTable_#{@char_type}", false
  = show_hide_button 'Mounts', '12', "charactersLootTable_#{@char_type}", false
  = show_hide_button 'Switches', '13', "charactersLootTable_#{@char_type}", false
%table{:id => "charactersLootTable_#{@char_type}"}
  %thead
    %tr
      %th Player
      %th Active
      %th Character
      %th Confirmed
      %th Class
      %th Base Class
      %th Armour
      %th Jewellery
      %th Weapon
      %th Average
      %th Adornments
      %th Dislodgers
      %th Mounts
      %th Switches
      %th
      %th
  %tbody
    - @characters.each do |character|
      - if character.char_type.eql? @char_type
        %tr{id: "character_#{character.id}_#{character.char_type}", data: character.character_row_data }
          %td= character.player_name
          %td= character.player_active ? 'Yes' : 'No'
          %td{:class => "#{character.overall_rating} characterPopupTrigger"}= character.name
          %td{class: character.confirmed_rating}= character.confirmed_date
          %td= character.archetype_name
          %td= character.archetype_root
          %td.lootRateTrigger= number_with_precision(character.armour_rate, :precision => 2)
          %td.lootRateTrigger= number_with_precision(character.jewellery_rate, :precision => 2)
          %td.lootRateTrigger= number_with_precision(character.weapon_rate, :precision => 2)
          %td.lootRateTrigger= number_with_precision(character.attuned_rate, :precision => 2)
          %td.lootRateTrigger= number_with_precision(character.adornment_rate, :precision => 2)
          %td.lootRateTrigger= number_with_precision(character.dislodger_rate, :precision => 2)
          %td.lootRateTrigger= number_with_precision(character.mount_rate, :precision => 2)
          %td.lootRateTrigger= number_with_precision(character.player_switch_rate, :precision => 2)
          %td= link_to 'Update', update_data_character_path(character), method: 'post', class: 'table-button'
          %td= link_to 'Edit', "/player_characters/#{character.id}/edit", remote: true, class: 'table-button'