%table{:id => "characterStatsTable_#{@char_type}"}
  %thead
    %tr
      %th Name
      %th Class
      %th Base Class
      %th Level
      %th AAs
      %th Health
      %th Power
      %th Crit
      %th Adornments
      %th Crit Bonus
      %th Potency
  %tbody
    - @characters.each do |character|
      - if character['char_type'].eql? @char_type or @char_type.eql? 'all'
        %tr{:id => "character_#{character['rpl_id']}", data: adornment_data(character)}
          - if character['rpl_id'].present?
            %td{:id => "character_#{character['rpl_id']}"}= link_to character['name'], character_path(:id => character['rpl_id']), :remote => true
          - else
            %td= character['name']
          - if character['type'] and character['stats']
            - stats = character['stats']
            %td= character['type']['class']
            %td= character['type']['base_class']
            %td.numeric= character['type']['level']
            %td.numeric= character['alternateadvancements']['spentpoints'] + character['alternateadvancements']['availablepoints']
            %td.numeric{:class => "#{health_rating(stats['health']['max'], character['type']['base_class'])}"}= stats['health']['max']
            %td.numeric= stats['power']['max']
            %td.numeric{:class => "#{crit_rating(stats['combat']['critchance'])}"}= number_with_precision(stats['combat']['critchance'], :precision => 2)
            %td.adornmentsTrigger.numeric{:class => "#{adornment_rating(adornment_pct(character))}"}= number_with_precision(adornment_pct(character), :precision => 2)
            %td.numeric= number_with_precision(stats['combat']['critbonus'], :precision => 2)
            %td.numeric= number_with_precision(stats['combat']['basemodifier'], :precision => 2)
          - else
            %td Unknown
            %td Unknown
            %td.numeric 0
            %td.numeric 0
            %td.numeric 0
            %td.numeric 0
            %td.numeric 0.00
            %td.numeric 0.00
            %td.numeric 0.00
            %td.numeric 0.00
