%table{:id => "characterStatsTable_#{@char_type}"}
  %thead
    %tr
      %th Name
      %th Class
      %th Base Class
      %th Level
      %th AAs
      %th Health
      %th Power
      %th Crit
      %th Adornments
      %th Crit Bonus
      %th Potency
  %tbody
    - @characters.each do |character|
      - if character.char_type.eql? @char_type or @char_type.eql? 'all'
        %tr{:id => "character_#{character.id}", data: character.adornment_data}
          %td{:id => "character_#{character.id}"}= link_to character.name, character_path(character), :remote => true
          %td= character.archetype_name
          %td= character.archetype_root
          %td= character.level
          %td= character.alternate_advancement_points
          %td{:class => "#{character.health_rating}"}= character.health
          %td= character.power
          %td{:class => "#{character.crit_rating}"}= number_with_precision(character.critical_chance, :precision => 2)
          %td{:class => "#{character.adornment_rating}"}= number_with_precision(character.adornment_pct, :precision => 2)
          %td= number_with_precision(character.crit_bonus, :precision => 2)
          %td= number_with_precision(character.potency, :precision => 2)