#tabBook
  %ul
    %li= link_to "Raid Mains", "#raid_mains"
    %li= link_to "Raid Alts", "#raid_alts"
    %li= link_to "General Alts", "#general_alts"

  #raid_mains
    = render 'index_tab', :"@characters" => @characters, :"@char_type" => 'm'

  #raid_alts
    = render 'index_tab', :"@characters" => @characters, :"@char_type" => 'r'

  #general_alts
    = render 'index_tab', :"@characters" => @characters, :"@char_type" => 'g'
%br/
= link_to 'New Character', new_character_path
%br/
= link_to 'Download CSV', '/characters.csv'