:javascript
  $(document).ready(function() {
  	$('#charactersTable').dataTable( {
  	    "bJQueryUI": true,
        "sPaginationType":"full_numbers",
  		"aoColumns": [
  			/* Name */   null,
  			/* Main */  null,
  			/* Rank */  null,
  			/* Class */  null,
  			/* Base Class */ { "bSearchable": true,
  			                   "bVisible":    false },
  			/* First Raid */  { "sType": "date" },
  			/* Last Raid */  { "sType": "date" },
  			/* # Raids */  { "sType": "numeric" },
  			/* # Instances */  { "sType": "numeric" },
  			/* Armour Rate */  { "sType": "numeric" },
  			/* Jewellery Rate */  { "sType": "numeric" },
  			/* Weapon Rate */  { "sType": "numeric" },
  			/* Update */     null,
  			/* Destroy */    null
  		],
        "aaSorting": [[0,'asc']]
  		} );
  } );
%table#charactersTable
  %thead
    %tr
      %th Name
      %th Main
      %th Rank
      %th Class
      %th Base Class
      %th First Raid
      %th Last Raid
      %th # Raids
      %th # Instances
      %th Armour Rate
      %th Jewellery Rate
      %th Weapon Rate
      %th
      %th
  %tbody
    - @characters.each do |character|
      - cache character do
        %tr
          %td.characterPopupTrigger{:id => character.id}= link_to character.name, character
          %td= main_character_name(character)
          %td= case character.char_type when "m" then "Main" when "r" then "Raid Alternate" else "General Alternate" end
          %td= character.archetype ? character.archetype.name : "Unknown"
          %td= character.archetype ? character.archetype.root.name : "Unknown"
          %td= character.first_raid ? character.first_raid.raid_date : "Never"
          %td= character.last_raid ? character.last_raid.raid_date : "Never"
          %td{:align => "right"}= character.raid_count
          %td{:align => "right"}= character.instance_count
          %td{:align => "right"}= character.loot_rate("Armour")
          %td{:align => "right"}= character.loot_rate("Jewellery")
          %td{:align => "right"}= character.loot_rate("Weapon")
          %td= link_to 'Update', fetch_data_character_path(character), :confirm => 'Are you sure?'
          %td= link_to 'Destroy', character, :confirm => 'Are you sure?', :method => :delete

%br
%br
= link_to 'New Character', new_character_path
