.characterPopupResult{:id => @character.id}
  %strong= @character.name
  %br/
  Raids (Player):
  = @character.player_raids_count
  %br/
  Raids (Character):
  = @character.raids_count
  %br/
  Instances:
  = @character.instances_count
  %br/
  First Raid:
  = @character.first_raid_date
  %br/
  Last Raid:
  = @character.last_raid_date
  %br/
  %br/
  Health:
  = @character.health
  %br/
  Power:
  = @character.power
  %br/
  Critical Chance:
  = number_with_precision(@character.critical_chance, precision: 2)
  %br/
  Potency:
  = number_with_precision(@character.potency, precision: 2)
  %br/
  Critical Bonus:
  = number_with_precision(@character.crit_bonus, precision: 2)
  %br/
  = render 'soe_data', :"@alternate_advancement_points" => @character.alternate_advancement_points