.characterPopupResult{:id => @character.id}
  %strong= @character.name
  %br/
  Raids:
  = @character.raids.count
  %br/
  Instances:
  = @character.instances.count
  %br/
  First Raid:
  = @character.first_raid_date
  %br/
  Last Raid:
  = @character.last_raid_date
  %br/
  %br/
  - @data = HashParser.new(@character.external_data.data.with_indifferent_access)
  Health:
  = @data.stats.health.max
  %br/
  Power:
  = @data.stats.power.max
  %br/
  Critical Chance:
  = number_with_precision(@data.stats.combat.critchance, precision: 2)
  %br/
  Potency:
  = number_with_precision(@data.stats.combat.basemodifier, precision: 2)
  %br/
  Critical Bonus:
  = number_with_precision(@data.stats.combat.critbonus, precision: 2)
  %br/
  = render 'soe_data', :"@data" => @data