:coffeescript
  jQuery ->
    $.fn.dataTableExt.afnFiltering.push (oSettings, aData, iDataIndex) ->
        return true if 'historyTable' == oSettings.nTable.id

        visible = false
        switch aData[4]
          when "Fighter"
            visible = $("#fighter").is(":checked")
          when "Scout"
            visible = $("#scout").is(":checked")
          when "Mage"
            visible = $("#mage").is(":checked")
          when "Priest"
            visible = $("#priest").is(":checked")
          else
            visible = true

        if visible
          if !$("#display_all").is(":checked")
            if $("#display_active").is(":checked")
              visible = aData[1] == 'Yes'
            else if $("#display_inactive").is(":checked")
              visible = aData[1] == 'No'
        visible

      mainsTable = $("#charactersLootTable_m").dataTable()
      $(".archetype").on "click", (e) ->
        mainsTable.fnDraw()
      $(".activity").on "click", (e) ->
        mainsTable.fnDraw()

      altsTable = $("#charactersLootTable_r").dataTable()
      $(".archetype").on "click", (e) ->
        altsTable.fnDraw()
      $(".activity").on "click", (e) ->
        altsTable.fnDraw()

.clear
.toolbar
  .left
    Active
    = radio_button_tag 'display', 'active', true, class: 'activity'
    Inactive
    = radio_button_tag 'display', 'inactive', false, class: 'activity'
    All
    = radio_button_tag 'display', 'all', false, class: 'activity'

  .right
    Fighters
    = check_box_tag 'fighter', 'fighter', 'checked', class: 'archetype'
    Scouts
    = check_box_tag 'scout', 'scout', 'checked', class: 'archetype'
    Mages
    = check_box_tag 'mage', 'mage', 'checked', class: 'archetype'
    Priests
    = check_box_tag 'priest', 'priest', 'checked', class: 'archetype'
.clear
#tabBook
  %ul
    %li= link_to 'Raid Mains', '#raid_mains'
    %li= link_to 'Raid Alts', '#raid_alts'

  #raid_mains
    = render 'loot_tab', :'@characters' => @characters, :'@char_type' => 'm'

  #raid_alts
    = render 'loot_tab', :'@characters' => @characters, :'@char_type' => 'r'
.clear
%br
= link_to 'History', '/versions/index', class: 'button', remote: true