%p#notice= notice

%p
  %strong Name:
  = @character.name
%p
  %strong Class:
  = @character.archetype_id ? @character.archetype.name : "Unknown"
%p
  %strong Rank:
  = case @character.char_type when "m" then "Main" when "r" then "Raid Alternate" else "General Alternate" end

%p
  %strong Character Type History
= render 'character_types'
%br/
%p
  %strong Drop History
= render 'drops'
%br/
%p
  %strong Attendance History
= render 'instances'
%br/
%br/
= link_to 'Edit', edit_character_path(@character)
\|
= link_to 'Back', characters_path
