#tabBook
  %ul
    %li= link_to "Details", "#details"
    %li= link_to "Attendance", "#attendance"
    %li= link_to "Drops", "#drops"
    %li= link_to "History", "#history"
    %li= link_to "Adjustments", "#adjustments"

  #details
    %p
      Name:
      = @character.name
    %p
      Class:
      = @character.archetype_id ? @character.archetype.name : "Unknown"
    %p
      Rank:
      = case @character.char_type when "m" then "Main" when "r" then "Raid Alternate" else "General Alternate" end
    %p
      Raids:
      = @character.raids.count
    %p
      Instances:
      = @character.instances.count
    %p
      = render 'soe_data' if internet_connection?

  #history
    = render 'character_types'

  #drops
    = render 'tabs/drops', :"@drop_list" => @character.drops

  #attendance
    = render 'tabs/instances', :"@instance_list" => @character.instances

  #adjustments
    = render 'adjustments', :"@adjustment_list" => @character.adjustments

%br/
%br/
= link_to 'Update Details', fetch_data_character_path(@character)
\|
= link_to 'Edit', edit_character_path(@character)
\|
= link_to 'Back', characters_path
