#character-show-form{:style => "display:none"}
#tabBook
  %ul
    %li= link_to "Raid Mains", "#raid_mains"
    %li= link_to "Raid Alts", "#raid_alts"
    %li= link_to "General Alts", "#general_alts"
    %li= link_to "All", "#all"

  #raid_mains
    = render 'statistics_tabs', :"@characters" => @characters, :"@char_type" => 'm'

  #raid_alts
    = render 'statistics_tabs', :"@characters" => @characters, :"@char_type" => 'r'

  #general_alts
    = render 'statistics_tabs', :"@characters" => @characters, :"@char_type" => 'g'

  #all
    = render 'statistics_tabs', :"@characters" => @characters, :"@char_type" => 'all'