%table#charactersTabTable
  %thead
    %tr
      %th Name
      %th Main
      %th Rank
      %th Class
      %th Base Class
      %th First Raid
      %th Last Raid
      %th # Raids
      %th # Instances
      %th Armour Rate
      %th Jewellery Rate
      %th Weapon Rate
  %tbody
    - @character_list.each do |character|
      %tr
        %td{:id => character.id}= link_to character.name, character
        %td= character.main_character.name
        %td= char_type_name(character.char_type)
        %td= character.archetype_name
        %td= character.archetype_root
        %td= character.first_raid_date
        %td= character.last_raid_date
        %td= character.raids_count
        %td= character.instances_count
        %td= character.armour_rate
        %td= character.jewellery_rate
        %td= character.weapon_rate
