:javascript
  $(document).ready(function() {
  	$('#charactersTabTable').dataTable( {
  	    "bJQueryUI": true,
        "sPaginationType":"full_numbers",
  		"aoColumns": [
  			/* Name */   null,
  			/* Main */  null,
  			/* Rank */  null,
  			/* Class */  null,
  			/* Base Class */ null,
  			/* First Raid */  { "sType": "date" },
  			/* Last Raid */  { "sType": "date" },
  			/* # Raids */  { "sType": "numeric" },
  			/* # Instances */  { "sType": "numeric" },
  			/* Armour Rate */  { "sType": "numeric" },
  			/* Jewellery Rate */  { "sType": "numeric" },
  			/* Weapon Rate */  { "sType": "numeric" }
  		]
  		} );
  } );
%table#charactersTabTable
  %thead
    %tr
      %th Name
      %th Main
      %th Rank
      %th Class
      %th Base Class
      %th First Raid
      %th Last Raid
      %th # Raids
      %th # Instances
      %th Armour Rate
      %th Jewellery Rate
      %th Weapon Rate
  %tbody
    - @character_list.each do |character|
      %tr
        %td.characterPopupTrigger{:id => character.id}= link_to character.name, character
        %td= main_character_name(character)
        %td= case character.char_type when "m" then "Main" when "r" then "Raid Alternate" else "General Alternate" end
        %td= character.archetype ? character.archetype.name : "Unknown"
        %td= character.archetype ? character.archetype.root.name : "Unknown"
        %td= character.first_raid ? character.first_raid.raid_date : "Never"
        %td= character.last_raid ? character.last_raid.raid_date : "Never"
        %td{:align => "right"}= character.raid_count
        %td{:align => "right"}= character.instance_count
        %td{:align => "right"}= character.loot_rate("Armour")
        %td{:align => "right"}= character.loot_rate("Jewellery")
        %td{:align => "right"}= character.loot_rate("Weapon")
