%table#dropsTabTable
  %thead
    %tr
      %th Item Name
      %th Mob Name
      %th Loot Type
      %th Drop Time
      %th Character Name
      %th Loot Method
  %tbody
    - @drop_list.each do |drop|
      %tr
        %td
          - if drop.item
            = link_to drop.item ? drop.item.name : "Unknown", drop
          - else
            Unknown
        %td
          - if drop.mob
            = link_to drop.mob.name, drop.mob
          - else
            Unknown
        %td
          - if drop.loot_type
            = drop.loot_type ? drop.loot_type.name : "Unknown"
          - else
            Unknown
        %td= drop.drop_time
        %td
          - if drop.character
            = link_to drop.character.name, drop.character
          - else
            Unknown
        %td= drop.loot_method_name
