%table#dataTable
  %thead
    %tr
      %th Zone
      %th Name
      %th Alias
      %th Difficulty
      %th Kills
      %th Last Killed
      %th Progression
  %tbody
    - @mob_list.each do |mob|
      %tr
        %td
          - if mob.zone
            = link_to mob.zone.name, mob.zone
          - else
            Unknown
        %td= link_to mob.name, mob
        %td= mob.alias
        %td= mob.difficulty ? mob.difficulty.name : "Unknown"
        %td= mob.kills
        %td= mob.last_drop ? mob.last_drop.drop_time : "Never"
        %td= mob.progression ? "Yes" : "No"