%table#playersTabTable
  %thead
    %tr
      %th Name
      %th Rank
      %th First Raid
      %th Last Raid
      %th # Raids
      %th # Instances
      %th Armour Rate
      %th Jewellery Rate
      %th Weapon Rate
  %tbody
    - @player_list.each do |player|
      %tr
        %td= link_to player.name, player
        %td= player.rank ? player.rank.name : "Unknown"
        %td= player.first_raid ? player.first_raid.raid_date : "Never"
        %td= player.last_raid ? player.last_raid.raid_date : "Never"
        %td{:align => "right"}= player.raid_count
        %td{:align => "right"}= player.instance_count
        %td{:align => "right"}= player.loot_rate("Armour")
        %td{:align => "right"}= player.loot_rate("Jewellery")
        %td{:align => "right"}= player.loot_rate("Weapon")