%table#playersTabTable
  %thead
    %tr
      %th Name
      %th Rank
      %th First Raid
      %th Last Raid
      %th # Raids
      %th # Instances
      %th Armour Rate
      %th Jewellery Rate
      %th Weapon Rate
  %tbody
    - @player_list.each do |player|
      %tr
        %td= link_to player.name, player
        %td= player.rank ? player.rank.name : "Unknown"
        %td= player.first_raid ? player.first_raid.raid_date : "Never"
        %td= player.last_raid ? player.last_raid.raid_date : "Never"
        %td{:align => "right"}= player.raids_count
        %td{:align => "right"}= player.instances_count
        %td{:align => "right"}= player.armour_rate
        %td{:align => "right"}= player.jewellery_rate
        %td{:align => "right"}= player.weapon_rate