%table#historyTable
  %thead
    %tr
      %th Item
      %th Type
      %th When
      %th Who
      %th Changes
  %tbody
    - @versions.each do |version|
      %tr
        %td= version.item
        %td= version.item_type
        %td= version.created_at
        %td= version.whodunnit
        %td= render 'changes', :"@changes" => changes(version)
