#tabBook
  %ul
    %li= link_to 'Details', '#details'
    %li= link_to 'Characters', '#characters'
    %li= link_to 'Drops', '#drops'
    %li= link_to 'Attendance', '#attendance'

  #details
    %p
      %strong Name:
      = @player.name
    %p
      %strong Rank:
      = @player.rank ? @player.rank.name : 'Unknown'
    %p
      %strong Characters:
      = @player.characters.count
    %p
      %strong Raids:
      = @player.raids_count
    %p
      %strong Instances:
      = @player.instances_count
    %p
      %strong Drops:
      = @player.drops.count
    %p
      %strong Armour Rate:
      = @player.armour_rate
    %p
      %strong Weapon Rate:
      = @player.weapon_rate
    %p
      %strong Jewellery Rate:
      = @player.jewellery_rate

  #characters
    = render 'tabs/characters', :"@character_list" => @player.characters

  #drops
    = render 'tabs/drops', :"@drop_list" => @player.drops

  #attendance
    = render 'tabs/instances', :"@instance_list" => @player.instances