<% @player_drops.keys.sort.each do |loot_type| %>
    <%
       drop_list = @player_drops[loot_type]
       drop_list.sort! { |a, b| b.drop_time <=> a.drop_time }
    %>
    <h3>
      <%= check_box_tag :"#{pluralize("", loot_type)}", 1, true, :onclick => "new Effect.toggle('#{loot_type}_list');return true;" %>
      <%= pluralize("", loot_type) %>
    </h3>

    <div id="<%= loot_type %>_list">
      <table>
        <thead>
        <tr>
          <td><b>Zone</b></td>
          <td><b>Mob</b></td>
          <td><b>Item</b></td>
          <td><b>Drop Time</b></td>
        </tr>
        </thead>
        <tbody>
        <% drop_list.each do |drop| %>
            <tr>
              <td><%= drop.zone_name %></td>
              <td><%= drop.mob_name %></td>
              <td><%= drop.item_name %></td>
              <td><%= drop.drop_time %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>