= form_for(@player) do |f|
  - if @player.errors.any?
    #error_explanation
      %h2
        = pluralize(@player.errors.count, "error")
        prohibited this player from being saved:
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :rank_id
    %br/
    = f.collection_select(:rank_id, Rank.all, :id, :name, :include_blank => true)
  .actions
    = f.submit
