= form_for @player.with_new_characters do |f|
  - if @player.errors.any?
    #error_explanation
      %h2
        = pluralize(@player.errors.count, "error")
        prohibited this player from being saved:
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :rank_id
    %br/
    = f.collection_select(:rank_id, Rank.all, :id, :name, :include_blank => true)
  %strong Characters
  %br/
  %table
    %thead
      %tr
        %td Name
        %td Class
        %td Rank
        %td
    %tbody
      = f.fields_for(:characters) do |characters_form|
        %tr
          %td= characters_form.text_field :name
          %td= characters_form.collection_select(:archetype_id, Archetype.base_archetypes, :id, :name, :include_blank => true)
          %td
            = characters_form.radio_button :char_type, "m"
            = characters_form.label "Main"
            = characters_form.radio_button :char_type, "r"
            = characters_form.label "Raid Alternate"
            = characters_form.radio_button :char_type, "g"
            = characters_form.label "General Alternate"
          %td
            - unless characters_form.object.new_record?
              = characters_form.check_box('_destroy', :checked_value => "true", :unchecked_value => "false") + characters_form.label('_destroy', 'Remove')
  %br/
  %br/
  .actions
  = f.submit
