= form_for @player do |f|
  - if @player.errors.any?
    #error_explanation
      %h2
        = pluralize(@player.errors.count, "error")
        prohibited this player from being saved:
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg
  .field
    %strong Name:
    = f.text_field :name
  .field
    %strong Rank:
    = f.collection_select(:rank_id, Rank.all, :id, :name, :include_blank => true)
  .field
    %strong Raids:
    = f.number_field :raids_count
  .field
    %strong Instances:
    = f.number_field :instances_count
  .field
    %strong Switches:
    = f.number_field :switches_count
  .field
    %strong Active:
    = f.check_box :active
  .actions
    = f.submit 'Create', :id => 'btnCreate'
