= nested_form_for @player.with_new_characters do |f|
  - if @player.errors.any?
    #error_explanation
      %h2
        = pluralize(@player.errors.count, "error")
        prohibited this player from being saved:
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :rank_id
    %br/
    = f.collection_select(:rank_id, Rank.all, :id, :name, :include_blank => true)
    %br/
    %br/
    %strong Characters
    %br/
    = f.fields_for :characters do |character_form|
      - base_archetypes ||= Archetype.base_archetypes
      = character_form.text_field :name
      = character_form.collection_select(:archetype_id, base_archetypes, :id, :name, :include_blank => true)
      = character_form.radio_button :char_type, "m"
      = character_form.label "Main"
      = character_form.radio_button :char_type, "r"
      = character_form.label "Raid Alternate"
      = character_form.radio_button :char_type, "g"
      = character_form.label "General Alternate"
      = character_form.link_to_remove "Remove"
    = f.link_to_add "Add", :characters
  .actions
  = f.submit
