- @player_instances.keys.sort.reverse.each do |raid_date|
  - instance_list = @player_instances[raid_date]
  - instance_list.sort! { |a, b| b.start_time <=> a.start_time }
  %h3
    = check_box_tag :"raid_month#{raid_date}", 1, true, :onclick => "new Effect.toggle('month_#{raid_date}');return true;"
    = raid_date.strftime("%b %Y")
  %div{:id => "month_#{raid_date}"}
    %table
      %thead
        %td
          %b Date
        %td
          %b Zone
        %td
          %b Start Time
        %td
          %b End Time
      - instance_list.each do |instance|
        %tr
          %td= instance.start_time.to_date
          %td= instance.zone.name
          %td= instance.start_time
          %td= instance.end_time
