%table#playersAttendanceTable
  %thead
    %tr
      %th Name
      %th First Raid
      %th Last Raid
      %th Total Raids
      %th Total Attendance
      %th 1 Year
      %th 9 Months
      %th 6 Months
      %th 3 Months
      %th 1 Month
  %tbody
    - @players.each do |player|
      %tr
        %td= link_to player.name, player
        %td= player.first_raid ? player.first_raid.raid_date : nil
        %td= player.last_raid ? player.last_raid.raid_date : nil
        %td= player.raids_count
        %td= number_with_precision(player.attendance_for_period, precision: 2)
        %td= number_with_precision(player.attendance_for_period(start: 1.year.ago), precision: 2)
        %td= number_with_precision(player.attendance_for_period(start: 9.months.ago), precision: 2)
        %td= number_with_precision(player.attendance_for_period(start: 6.months.ago), precision: 2)
        %td= number_with_precision(player.attendance_for_period(start: 3.months.ago), precision: 2)
        %td= number_with_precision(player.attendance_for_period(start: 1.month.ago), precision: 2)
