#players_search
  = form_for players_path, :method => :get, :id => "players_search" do
    %p
      = hidden_field_tag :direction, params[:direction]
      = hidden_field_tag :sort, params[:sort]
      = text_field_tag :with_name_like, params[:with_name_like]
      = submit_tag "Search", :name => nil
%p
#player_list
  = render 'player_list'
%br/
.digg_pagination
  = will_paginate @players, :container => false
%br/
- if logged_in?
  = link_to 'New Player', new_player_path
