:javascript
  $(document).ready(function() {
  	$('#playersTable').dataTable( {
        "sPaginationType":"full_numbers",
  		"aoColumns": [
  			/* Name */   null,
  			/* Rank */  null,
  			/* Main */  null,
  			/* Class */  null,
  			/* Base Class */ { "bSearchable": true,
  			                   "bVisible":    false },
  			/* # Raids */  { "sType": "numeric" },
  			/* # Instances */  { "sType": "numeric" },
  			/* Armour Rate */  { "sType": "numeric" },
  			/* Jewellery Rate */  { "sType": "numeric" },
  			/* Weapon Rate */  { "sType": "numeric" },
  			/* Show */    null,
  			/* Edit */    null,
  			/* Destroy */    null
  		],
        "aaSorting": [[0,'asc']]
  		} );
  } );
%table#playersTable
  %thead
    %tr
      %th Name
      %th Rank
      %th Main
      %th Class
      %th Base Class
      %th # Raids
      %th # Instances
      %th Armour Rate
      %th Jewellery Rate
      %th Weapon Rate
      %th
      %th
      %th
  %tbody
    - @players.each do |player|
      %tr{:id => "#{player.archetype_root}_row"}
        %td= player.name
        %td= player.rank ? player.rank.name : "Unknown"
        %td= player.main_character ? player.main_character.name : player.name
        %td= player.archetype ? player.archetype.name : "Unknown"
        %td= player.archetype_root
        %td{:align => "right"}= player.raids.count
        %td{:align => "right"}= player.instances.count
        %td{:align => "right"}= player.loot_rate("Armour")
        %td{:align => "right"}= player.loot_rate("Jewellery")
        %td{:align => "right"}= player.loot_rate("Weapon")
        %td= link_to 'Show', player
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete
%br/
%br/
= link_to 'New Player', new_player_path