:javascript
  $(document).ready(function() {
  	$('#playersTable').dataTable( {
        "sPaginationType":"full_numbers",
  		"aoColumns": [
  			/* Name */   null,
  			/* Rank */  null,
  			/* First Raid */  { "sType": "date" },
  			/* Last Raid */  { "sType": "date" },
  			/* # Raids */  { "sType": "numeric" },
  			/* # Instances */  { "sType": "numeric" },
  			/* Armour Rate */  { "sType": "numeric" },
  			/* Jewellery Rate */  { "sType": "numeric" },
  			/* Weapon Rate */  { "sType": "numeric" },
  			/* Destroy */    null
  		],
        "aaSorting": [[0,'asc']]
  		} );
  } );
%table#playersTable
  %thead
    %tr
      %th Name
      %th Rank
      %th First Raid
      %th Last Raid
      %th # Raids
      %th # Instances
      %th Armour Rate
      %th Jewellery Rate
      %th Weapon Rate
      %th
  %tbody
    - @players.each do |player|
      %tr
        %td= link_to player.name, player
        %td= player.rank ? player.rank.name : "Unknown"
        %td= player.first_raid ? player.first_raid.raid_date : "Never"
        %td= player.last_raid ? player.last_raid.raid_date : "Never"
        %td{:align => "right"}= player.raid_count
        %td{:align => "right"}= player.instance_count
        %td{:align => "right"}= player.loot_rate("Armour")
        %td{:align => "right"}= player.loot_rate("Jewellery")
        %td{:align => "right"}= player.loot_rate("Weapon")
        %td= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete
%br/
%br/
= link_to 'New Player', new_player_path