<%= generate_sub_nav(params) %>
<h1><%= @pagetitle %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Rank</th>
    <th>Main</th>
    <th>Class</th>
    <th># Raids</th>
    <%= generate_headings(params) %>
    <th></th>
    <% if logged_in? %>
        <th></th>
        <th></th>
    <% end %>
  </tr>

  <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <% if player.rank_id %>
            <td><%= player.rank.name %></td>
        <% else %>
            <td>Unknown</td>
        <% end %>
        <td><%= player.main_character.name unless player.main_character.nil? %></td>
        <% if player.archetype %>
            <td><%= player.archetype.name %></td>
        <% else %>
            <td>Unknown</td>
        <% end %>
        <td align="center"><%= player.raids.count %></td>
        <% LootType.all.each do |loot_type| %>
            <td><%= player.loot_rate(loot_type.name) %></td>
        <% end %>
        <td><%= link_to 'Show', player %></td>
        <% if logged_in? %>
            <td><%= link_to 'Edit', edit_player_path(player) %></td>
            <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>

<% if logged_in? %>
    <%= link_to 'New Player', new_player_path %>
<% end %>