%p#notice= notice
%p
  %strong Name:
  = @player.name
%p
  %strong Class:
  = @player.archetype ? @player.archetype.name : "Unknown"
%p
  %strong Drops
= render 'drops'
%br/
%p
  %strong Attendance
= render 'instances'
%br/
%br/
= link_to 'Edit', edit_player_path(@player)
= link_to 'Back', players_path