<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>
<p>
  <b>Class:</b>
  <%= @player.archetype.nil? ? "Unknown" : @player.archetype.name %>
</p>

<p><b>Attendance</b></p>
<%= render 'instances' %>

<p><b>Drops</b></p>
<%= render 'drops' %>

<% if logged_in? %>
    <%= link_to 'Edit', edit_player_path(@player) %> |
<% end %>
<%= link_to 'Back', players_path %>
