%p#notice= notice
%p
  %strong Name:
  = @player.name
%p
  %strong Rank:
  = @player.rank ? @player.rank.name : "Unknown"
%p
  %strong Drop History
= render 'drops'
%br/
%p
  %strong Attendance History
= render 'instances'
%br/
%br/
= link_to 'Edit', edit_player_path(@player)
= link_to 'Back', players_path