#players_search
  = form_for players_path, :method => :get, :id => "players_search"  do
    %p
      = hidden_field_tag :direction, params[:direction]
      = hidden_field_tag :sort, params[:sort]
      = hidden_field_tag :sort, params[:sort_type]
      = text_field_tag :with_name_like, params[:with_name_like]
      = submit_tag "Search", :name => nil
%p
  - @archetypes.each do |archetype|
    = check_box_tag :"#{pluralize("", archetype.name)}", 1, true, :onclick => "new Effect.toggle('#{archetype.name.downcase}_row', 'blind');return true;"
    = pluralize("", archetype.name)
#player_stats
  = render 'player_stats'
%br/
.digg_pagination
  = will_paginate @players, :container => true
%br/
- if logged_in?
  = link_to 'New Player', new_player_path
