#tabBook
  %ul
    %li= link_to 'Raid Mains', '#raid_mains'
    %li= link_to 'Raid Alts', '#raid_alts'

  #raid_mains
    %table.dataTable
      %thead
        %tr
          %th Player
          %th Character
          %th Armour Rate
          %th Weapon Rate
          %th Jewellery Rate
      %tbody
        - @players.select{|p| !p.main_name.nil? }.each do |player|
          %tr
            %td= player.name
            %td= player.main_name
            %td= player.current_main.armour_rate
            %td= player.current_main.weapon_rate
            %td= player.current_main.jewellery_rate

  #raid_alts
    %table.dataTable
      %thead
        %tr
          %th Player
          %th Character
          %th Armour Rate
          %th Weapon Rate
          %th Jewellery Rate
      %tbody
        - @players.select{|p| !p.raid_alternate_name.nil? }.each do |player|
          %tr
            %td= player.name
            %td= player.raid_alternate_name
            %td= player.current_raid_alternate.armour_rate
            %td= player.current_raid_alternate.weapon_rate
            %td= player.current_raid_alternate.jewellery_rate

