%p
  %strong Character:
  = @character_type.character.name
%p
  %strong Effective:
  = @character_type.effective_date
%p
  %strong Character Type:
  = @character_type.character_type_name
%p
  %strong Normal Wait:
  = @character_type.normal_penalty
%p
  %strong Progression Wait:
  = @character_type.progression_penalty
