%table#dataTable
  %thead
    %tr
      %th Name
      %th Mobs
      %th Difficulty
      %th Times Run
      %th Last Run
      %th Progression
      %th
  %tbody
    - @zones.each do |zone|
      - cache zone do
        %tr
          %td= link_to zone.name, zone
          %td= link_to 'Mobs', zone_mobs_path(zone)
          %td= zone.difficulty ? zone.difficulty.name : "Unknown"
          %td= zone.instances.count
          %td= zone.last_instance ? zone.last_instance.start_time : "Never"
          %td= zone.progression ? "Yes" : "No"
          %td= link_to 'Destroy', zone, :confirm => 'Are you sure?', :method => :delete
%br/
%br/
= link_to 'New Zone', new_zone_path
