:javascript
  $(document).ready(function(){
      $('#dataTable').dataTable();
  });
%table.dataTable{:id => "dataTable" }
  %thead
    %tr
      %th Name
      %th Loot Type
      %th Slot(s)
      %th Class(es)
      %th
      %th
      %th
  %tbody
    - @items.each do |item|
      %tr
        %td
          %a{:href => item.info_url}= item.name
        %td= item.loot_type ? item.loot_type.name : "Unknown"
        %td= item.slot_names
        %td= item.class_names
        %td= link_to 'Show', item
        %td= link_to 'Edit', edit_item_path(item)
        %td= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete
%br/
%br/
= link_to 'New Item', new_item_path
