%table
  %tr
    %td
      = eq2_wire_item_details(@item.eq2_item_id)
    %td{:valign => "top"}
      %p
        %strong Name:
        = @item.name
      %p
        %strong Eq2 item:
        = @item.eq2_item_id
      %p
        %strong Info url:
        = @item.info_url
      %p
        %strong Item Type:
        = @item.loot_type ? @item.loot_type.name : "Unknown"


      %p
        %table
          %thead
            %strong Classes:
          %tbody
            - @item.archetypes.each do |archetype|
              %tr
                %td= archetype.name
      %p
        %table
          %thead
            %strong Slots:
          %tbody
            - @item.slots.each do |slot|
              %tr
                %td= slot.name
%br/
%br/
= link_to 'Update Details', fetch_data_item_path(@item)
%br/
= link_to 'Edit', edit_item_path(@item)
%br/
= link_to 'Back', items_path