<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Eq2 item:</b>
  <%= @item.eq2_item_id %>
</p>

<p>
  <b>Info url:</b>
  <%= @item.info_url %>
</p>

<p>
<table>
  <thead><b>Classes:</b></thead>
  <tbody>
  <% @item.archetypes.each do |archetype| %>
      <tr>
        <td><%= archetype.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>

<p>
<table>
  <thead><b>Slots:</b></thead>
  <tbody>
  <% @item.slots.each do |slot| %>
      <tr>
        <td><%= slot.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
