%p#notice= notice
%p
  %b Name:
  = @item.name
%p
  %b Eq2 item:
  = @item.eq2_item_id
%p
  %b Info url:
  = @item.info_url
%p
  %table
    %thead
      %b Classes:
    %tbody
      - @item.archetypes.each do |archetype|
        %tr
          %td= archetype.name
%p
  %table
    %thead
      %b Slots:
    %tbody
      - @item.slots.each do |slot|
        %tr
          %td= slot.name
= link_to 'Edit', edit_item_path(@item)
|
\#{link_to 'Back', items_path}
