%table#dataTable
  %thead
    %tr
      %th Name
      %th Rating
      %th Zones
      %th Mobs
      %th
      %th
      %th
  %tbody
    - @difficulties.each do |difficulty|
      %tr
        %td= difficulty.name
        %td= difficulty.rating
        %td= difficulty.zones.count
        %td= difficulty.mobs.count
        %td= link_to 'Show', difficulty, class: 'table-button'
        %td= link_to 'Edit', edit_difficulty_path(difficulty), class: 'table-button'
        %td= link_to 'Destroy', difficulty, :confirm => 'Are you sure?', :method => :delete, class: 'table-button'
%br
= link_to 'New Difficulty', new_difficulty_path, class: 'button'
