#adjustments_form.form
  .field
    = label_tag "#{@adjustment.adjustable_type}:", nil, class: 'header'
    %span.data
      = @adjustment.adjusted_name
  .field
    = label_tag 'Adjustment date:', nil, class: 'header'
    %span.data
      = @adjustment.adjustment_date
  .field
    = label_tag 'Adjustment type:', nil, class: 'header'
    %span.data
      = @adjustment.adjustment_type
  .field
    = label_tag 'Amount:', nil, class: 'header'
    %span.data
      = @adjustment.amount
  .field
    = label_tag 'reason:', nil, class: 'header'
    %span.data
      = @adjustment.reason