= form_for @adjustment do |f|
  -if @adjustment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@adjustment.errors.count, "error")} prohibited this adjustment from being saved:"
      %ul
        - @adjustment.errors.full_messages.each do |msg|
          %li= msg

  .field
    %strong Adjustable Type:
    = f.select(:adjustable_type, %w{Character Player}, :include_blank => true)
  .field#adjustable_field
    %strong= @adjustment.type_label
    - unless @adjustment.adjustable_entities.empty?
      = f.collection_select(:adjustable_id, @adjustment.adjustable_entities, :id, :name)
  .field
    %strong Adjustment Date:
    = f.text_field :adjustment_date, id: "datepicker"
  .field
    %strong Adjustment Type:
    = f.select(:adjustment_type, @adjustment.adjustment_types)
  .field
    %strong Amount:
    = f.number_field :amount
  .field
    %strong Reason:
    = f.text_area :reason, class: "popup"
  .actions
    = f.submit 'Save'
