= form_for @adjustment do |f|
  -if @adjustment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@adjustment.errors.count, "error")} prohibited this adjustment from being saved:"
      %ul
        - @adjustment.errors.full_messages.each do |msg|
          %li= msg

  #adjustments_form.form
    .field
      = label_tag 'Adjustable Type:', nil, class: 'header'
      %span.data
        = f.select(:adjustable_type, %w{Character Player}, :include_blank => true)
    .field#adjustable_field
      = label_tag "#{@adjustment.type_label}", nil, class: 'header'
      %span.data
        - unless @adjustment.adjustable_entities.empty?
          = f.collection_select(:adjustable_id, @adjustment.adjustable_entities, :id, :name)
    .field
      = label_tag 'Adjustment Date:', nil, class: 'header'
      %span.data
        = f.text_field :adjustment_date, id: 'datepicker'
    .field
      = label_tag 'Adjustment Type:', nil, class: 'header'
      %span.data
        = f.select(:adjustment_type, @adjustment.adjustment_types)
    .field
      = label_tag 'Amount:', nil, class: 'header'
      %span.data
        = f.number_field :amount
    .field
      = label_tag 'Reason:', nil, class: 'header'
      %span.data
        = f.text_area :reason, class: 'popup'
    .actions
      = f.submit 'Save'
