%table#adjustmentsTable
  %thead
    %tr
      %th Relationship
      %th Player / Character
      %th Adjustment date
      %th Adjustment type
      %th Amount
      %th Reason
      %th
      %th
      %th
  %tbody
    - @adjustments.each do |adjustment|
      - cache adjustment do
        %tr{id: "adjustment_#{adjustment.id}"}
          %td= adjustment.adjustable_type
          %td= adjustment.adjusted_name
          %td= adjustment.adjustment_date
          %td= adjustment.adjustment_type
          %td= adjustment.amount
          %td= adjustment.reason
          %td= link_to 'Show', adjustment, remote: true, class: 'table-button'
          %td= link_to 'Edit', edit_adjustment_path(adjustment), remote: true, class: 'table-button'
          %td= link_to 'Destroy', adjustment, :confirm => 'Are you sure?', method: :delete, remote: true, class: 'table-button'
%br/
= link_to 'New Adjustment', new_adjustment_path, remote: true, class: 'button'
