%p#notice= notice

%p
  %b Adjustment date:
  = @adjustment.adjustment_date
%p
  %b Adjustment type:
  = @adjustment.adjustment_type
%p
  %b Amount:
  = @adjustment.amount
%p
  %b Reason:
  = @adjustment.reason
%p
  %b Loot type:
  = @adjustment.loot_type_id
%p
  %b= "#{@adjustment.adjustable_type}:"
  = @adjustment.name

= link_to 'Edit', edit_adjustment_path(@adjustment)
\|
= link_to 'Back', adjustments_path
