!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery", "prototype", "effects", "scriptaculous", "controls"
    = csrf_meta_tag
  %body
    #pagewrapper
      #header
        %p Raids Per Loot
      #navbar
        %ul
          - @tabs.each do |page|
            <li #{"id='current'" if @page && (@page == page || @page.parent == page)}>
            - if page.redirect
              = link_to page.navlabel, :action => page.action_name, :controller => page.controller_name, :name => page.name
            - else
              = link_to page.navlabel, view_page_path(page.name)
          - if logged_in?
            %li= link_to "Log Out", logout_path
          - else
            %li= link_to "Log In", login_path
      - unless @page.nil?
        - unless @page.children.empty?
          #subnav
            %ul
              - for page in @page.children
                %li
                  - if page.redirect
                    = link_to page.navlabel, :action => page.action_name, :controller => page.controller_name, :name => page.name
                  - else
                    = link_to page.navlabel, view_page_path(page.name)
        - unless @page.ancestors.empty?
          #breadcrumb
            - for page in @page.ancestors.reverse
              = link_to h(page.navlabel), view_page_path(page.name)
              \&gt;
            = @page.navlabel
      #content
        %h2= flash[:notice]
        = yield
      #footer
        %p Raids Per Loot
